*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
body{
    min-height: 100vh;
    background-color: hsl(27, 66%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
}

/*----------------------balance------------------------*/

.balance{
    color: white;
    background-color: hsl(10, 79%, 65%);
    border-radius: 11px;
}
.balance_info{
    border-radius: 11px;
    background-color: hsl(33, 100%, 98%);
    color: black;
}

.month_total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#myChart {
    width: 30%;
    height: 30%;
}